<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/styles/commentDetails.css">
    <link rel="stylesheet" href="/styles/navbar.css" />

    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <div class="heading">
        <h2>Comments</h2>
        <img src="/logo.png" alt="" />
    </div>

    <div class="container">

        <div class="partition p1"><img src={{selectedPhoto.imageUrl}} alt=""></div>
        <div class="partition p2">
            <div class="postDetails">
                <p>{{selectedPhoto.caption}}</p><br>
                <p>- {{selectedPhoto.user.username}}</p>
                {{comments.length}}
            </div>
            <hr class="ruler">

            <div class="commentSection">
                {{#each comments as |c|}}

               <p><span>{{c.user.username}}</span> : {{c.comments}}</p>
                {{/each}}
            </div>
            <div class="commentBox">
                <form id="comment" action="/comment/{{selectedPhoto._id}}" method="post">
                    <input type="text" id="newComment" name="newComment" placeholder="write your comment here..." />
                    <button type="submit">Post comment</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>