<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapFolio</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    {{>navbar}}
    
    <div class="heading">
      <h2>HomePage</h2>
      <img src="/logo.png" alt="" />
    </div>

    <div class="container">
        
    </div>




    {{!-- <ul>
        {{#each photoes as |post|}}
            <li>
            Title:{{post.title}} <br>
            image: <img src={{post.imageUrl}} alt=""><br>
            Description:{{post.desc}} <br>
            Caption: {{post.caption}}<br>
            Tag: {{post.tag}}<br>
            </li>
        {{/each}}
        
    </ul> --}}
</body>
</html>