<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SnapFolio</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/styles/profile.css" />
  </head>
  <body>
    {{>navbar}}

    <div class="heading">
      <h2>Hi, <span>{{name}}</span></h2>
      <img src="/logo.png" alt="" />
    </div>
    <div class="container">
      <div class="p1">
        <h3>Account Info</h3>
        <h5>Username : {{username}}</h5>
        <h5>Name : {{name}}, <span>{{age}}</span></h5>
      </div>
      <div class="p2"><h3>Your Photos </h3>
      <div class="photoscontainer">

        {{#each photos as |p|}}
       <a href="/photo/{{p._id}}">
        <div class="square-container">
        
    <div class="square-image" style="background-image: url({{p.imageUrl}});">
    <div class="features">
    
          <div class="likes" id="likeCounter"><i class="fas fa-heart"></i><p> {{p.likes.length}}</p></div>
        
    </div>
    </div>
  </div>
  
  </a> 
  {{/each}}
 
      </div>
      </div>
    </div>
  </body>
</html>